<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENTREPRENEURSHIP DEVELOPMENT INSTITUTE</title>
    <!-- Responsive Meta Tag -->
    <meta name="description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta name="title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta name="google-play-app" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="medium" content="mult">
    <meta name="apple-itunes-app" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="fb:app_id" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <meta property="og:title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta property="og:url" content="http://www.edi.exwhyzee.ng/">
    <meta property="og:description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta property="og:image" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="E. D. I">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:domain" content="www.edi.exwhyzee.ng">
    <meta name="twitter:title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta name="twitter:url" content="http://www.edi.exwhyzee.ng/">
    <meta name="twitter:description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta name="twitter:image" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta name="twitter:site" content="http://www.edi.exwhyzee.ng/">
    <meta itemprop="name" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta itemprop="url" content="http://www.edi.exwhyzee.ng/">
    <meta itemprop="description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta itemprop="image" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <link rel="preconnect" href="http://www.edi.exwhyzee.ng/" crossorigin="">
    <link rel="dns-prefetch" href="http://www.edi.exwhyzee.ng/" crossorigin="">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/images/ico.png">
    <link rel="icon" type="image/png" href="http://www.edi.exwhyzee.ng/Content/images/ico.png" sizes="196x196">
    <link rel="icon" type="image/png" href="http://www.edi.exwhyzee.ng/Content/images/ico.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://www.edi.exwhyzee.ng/Content/images/ico.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://www.edi.exwhyzee.ng/Content/images/ico.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://www.edi.exwhyzee.ng/Content/images/ico.png" sizes="128x128">
    <meta name="application-name" content="EDI">
    <meta name="msapplication-TileColor" content="#">
    <meta name="msapplication-TileImage" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta name="msapplication-square70x70logo" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta name="msapplication-square150x150logo" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta name="msapplication-wide310x150logo" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">
    <meta name="msapplication-square310x310logo" content="http://www.edi.exwhyzee.ng/Content/images/ico.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet -->
    <link href="~/Content/Theme/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/ico.png" type="image/x-icon" />
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/Theme/css/responsive.css">
    <link href="~/Content/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>



    <!-- #topbar -->
    <section id="topbar" class="construct">
        <div class="container">
            <div class="row">
                <div class="social pull-right">
                    <ul>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div> <!-- /.social -->
                <div class="contact-info pull-left">
                    <ul>

                        <li><a href="mailto:contact@edi.exwhyzee.ng"><i class="fa fa-envelope"></i> contact@edi.exwhyzee.ng</a></li>
                        <li><a href="mailto:edi@exwhyzee.ng"><i class="fa fa-envelope"></i> edi@exwhyzee.ng</a></li>
                        <li><a href="tel:+2348063812435"><i class="fa fa-phone"></i> +234 806 381 2435</a></li>
                        <li><a href="@Url.Action("FAQs", "Secured", new { area = "" })"><i class="fa fa-question"></i> FAQs</a></li>
                        <li><a href="@Url.Action("Certificate", "Users", new { area = "Admin" })"><i class="fa fa-certificate"></i> Certificate Verification</a></li>

                    </ul>
                </div> <!-- /.contact-info -->
            </div>
        </div>
    </section> <!-- /#topbar -->
    <!-- header -->
    <header class="construct header-curvy">
        <div class="search-box">
            <div class="container">
                <div class="pull-right search  col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <form action="#">
                        <input type="text" placeholder="Search Here"> <button type="submit"><i class="icon icon-Search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="cart-box">
            <div class="container">

            </div>
        </div>
        <div class="container">
            <div class="clearfix">
                <div class="pull-left logo">
                    <a href="/">
                        <img src="~/Content/slider/logo EDI.png" alt="Plumberx">
                    </a>
                </div>
                <nav class="pull-right mainmenu-container clearfix">
                    <ul class="top-icons-wrap pull-right">
                        <li class="top-icons search"><a href="#"><i class="icon icon-Search"></i></a></li>

                    </ul>
                    <button class="mainmenu-toggler">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="mainmenu pull-right">
                        <li><a href="/">Home</a></li>


                        <li class="dropdown">
                            <a href="#">About Us</a>
                            <ul class="submenu">
                                <li><a href="@Url.Action("About", "Secured", new { area = "" })">ABOUT US</a></li>
                                <li><a href="">ABOUT EDI</a></li>
                                <li><a href="">PARTNERS</a></li>
                                <li><a href="">AWARD & RECOGNINTION</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">FUNDING OPTIONS</a>
                            <ul class="submenu">
                                <li><a href="">AGSMEIS</a></li>
                                <li><a href="">ANCHOR BORROWERS' PROGRAMME</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="">COURSE PROGRAMS</a>

                        </li>
                        <li class="">
                            <a href="">CONTACT US</a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header> <!-- /header -->


    @RenderBody()



    <!-- footer -->
    <footer class="construct">
        <div class="container">
            <div class="row">
                <!-- .widget -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                    <img class="positioned wow slideInUp " src="~/Content/images/CBN 380 320.png" alt="">
                </div> <!-- /.widget -->
                <!-- .widget -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                    <h3>Vision</h3>
                    <p> To build an active entrepreneurs that will drive the private sector of our economy</p>
                    <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    <ul class="social">
                        <li><a href="#" class="hvr-radial-out"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="hvr-radial-out"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="hvr-radial-out"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="hvr-radial-out"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> <!-- /.widget -->
                <!-- .widget -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget clearboth-tab clearboth-480">
                    <h3>Popular Posts</h3>
                    <ul class="our-services">
                        @Html.Action("_FooterPosts", "Secured", new { area = "" })
                    </ul>
                </div> <!-- /.widget -->
                <!-- .widget -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                    <h3>Get in Touch</h3>
                    <ul class="contact-info">
                        <li><i class="fa fa-map-marker"></i> <span class="text">44 Azikiwe Road, Umuahia <br>Abia State. Nigeria</span></li>
                        <li><i class="fa fa-phone"></i> <span class="text">+234 806 381 2435</span></li>
                        <li><i class="fa fa-envelope-o"></i> <span class="text">edi@exwhyzee.ng</span></li>
                        <li><i class="fa fa-envelope-o"></i> <span class="text">contact@edi.exwhyzee.ng</span></li>
                        <li><i class="fa fa-globe"></i> <span class="text">http://edi.exwhyzee.ng/</span></li>
                    </ul>
                </div> <!-- /.widget -->

            </div>
        </div>
    </footer> <!-- /footer -->
    <!-- #bottom-bar -->
    <section id="bottom-bar" class="construct">
        <div class="container">
            <div class="row">
                <!-- .copyright -->
                <div class="copyright pull-left">
                    <p>Copyright &copy; ENTREPRENEURSHIP DEVELOPMENT INSTITUTE 2015. All rights reserved. </p>
                </div> <!-- /.copyright -->
                <!-- .credit -->
                <div class="credit pull-right">
                    <p>Powered by: C.B.N </p>
                </div> <!-- /.credit -->
            </div>
        </div>
    </section><!-- /#bottom-bar -->
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    @*<script src="http://exwhyzee.ng/libraries/admin/bower_components/jquery/dist/jquery.min.js"></script>*@

    <script src="~/Content/Theme/js/jquery-1.11.3.min.js"></script> <!-- jQuery JS -->
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Content/Theme/js/bootstrap.min.js"></script> <!-- BootStrap JS -->
    <script src="~/Content/Theme/js/wow.js"></script> <!-- WOW JS -->
    <script src="~/Content/Theme/js/isotope.pkgd.min.js"></script> <!-- iSotope JS -->
    <script src="~/Content/Theme/js/owl.carousel.min.js"></script> <!-- OWL Carousle JS -->
    @*<script src="~/Content/Theme/js/revolution-slider/jquery.themepunch.tools.min.js"></script> <!-- Revolution Slider Tools -->
        <script src="~/Content/Theme/js/revolution-slider/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme/js/revolution-slider/extensions/revolution.extension.video.min.js"></script>*@
    <script src="~/Content/Theme/js/jquery.fancybox.pack.js"></script> <!-- FancyBox -->
    <script src="~/Content/Theme/js/validate.js"></script> <!-- Form Validator JS -->
    <script src="~/Content/Theme/js/jquery.easing.min.js"></script> <!-- jquery easing JS -->
    <script src="~/Content/Theme/js/jquery.mixitup.min.js"></script> <!-- MixIt UP JS -->
    <script src="~/Content/Theme/js/custom.js"></script> <!-- Custom JS -->
    <link href="~/Content/datepicker/css/datepicker.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)

   
</body>
</html>