@using Microsoft.AspNet.Identity


<li><a href="@Url.Action("JDPC", "Data", new { area = "" })"><i class="fa fa-plus-circle"></i> Apply as JDPC</a></li>
<li><a href="@Url.Action("Apply", "Data", new { area = "" })"><i class="fa fa-user-plus"></i> Apply</a></li>


@if (Request.IsAuthenticated)
{

    if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <li><a href="@Url.Action("Index", "Main", new { area="Admin" })"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> </a></li>

    }
    else if (User.IsInRole("Participant"))
    {
        <li><a href="@Url.Action("Index", "Dashboard", new { area="EDI" })"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> </a></li>

    }

}
else
{

    <li><a href="@Url.Action("Login", "Data", new { area = "" })"><i class="fa fa-user"></i> Login</a></li>
}


@using (Html.BeginForm("LogOff", "Data", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()


}