@model ExwhyzeeEDI.Web.Models.Entities.ProgramCourse

@{
    ViewBag.Title = "Details";
}



<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> Program Details</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.GetAuthor.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GetAuthor.FullName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Duration)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.WhatYouWillLearn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.WhatYouWillLearn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Amount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Language)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Language)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>