
@{
    ViewBag.Title = "LeadershipTeam";
}

<h2>LeadershipTeam</h2>

<div id="masthead" data-placeholder="#masthead-placeholder" class="">
    <div class="wrapper">
        <div id="site-brand">
            <div id="site-logo" class="brand has-logo"><h1 class="logo" itemprop="headline"><a href="http://demo.linethemes.com/cosine"><img class="logo-standard" src="http://demo.linethemes.com/cosine/wp-content/themes/cosine/assets/img/logo.png" alt="Cosine - Training, Coaching &amp; Business Theme"><img class="logo-retina" src="http://demo.linethemes.com/cosine/wp-content/uploads/2016/04/logo@2x.png" alt="Cosine - Training, Coaching &amp; Business Theme"></a></h1></div>
        </div>

        <nav id="site-navigator" class="navigator" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            <ul id="menu-main-menu" class="menu">
                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-2 menu-item-24"><a href="/">Home</a></li>
                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23">
                    <a href="">Who we are</a>
                    <ul class="sub-menu">
                        <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="@Url.Action("About")">Overview</a></li>
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="@Url.Action("LeadershipTeam")">Leadership Team</a></li>
                        <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="@Url.Action("Partners")">Partners / Clients</a></li>
                        <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="@Url.Action("Testimonies")">Testimonials</a></li>
                        <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="@Url.Action("FAQs")">FAQ</a></li>
                        <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="@Url.Action("AwardAndRegonition")">Awards &amp; Recognition</a></li>
                    </ul>
                </li>
                <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="@Url.Action("AboutEdi")">About EDI</a></li>

                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21">
                    <a href="">Training Programs</a>
                    <ul class="sub-menu">
                        <li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"><a href="http://demo.linethemes.com/cosine/training-programs/consultative-selling-training/">Consultative Selling Training</a></li>
                        <li id="menu-item-368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a href="http://demo.linethemes.com/cosine/training-programs/high-performance-selling/">High Performance Selling</a></li>
                        <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a href="http://demo.linethemes.com/cosine/training-programs/sales-coaching-training/">Sales Coaching Training</a></li>
                        <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="http://demo.linethemes.com/cosine/training-programs/sales-negotiation-training/">Sales Negotiation Training</a></li>
                        <li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="http://demo.linethemes.com/cosine/training-programs/selling-with-insights/">Selling With Insights</a></li>
                        <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="http://demo.linethemes.com/cosine/training-programs/trusted-advisor-training/">Trusted Advisor Training</a></li>
                    </ul>
                </li>
                <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="@Url.Action("Contact")">Contact</a></li>
            </ul>
            <ul class="menu menu-extra">
                <li class="search-box">
                    <a href="#"><i class="fa fa-search"></i></a>
                    <div class="submenu">
                        <div class="widget widget_search">
                            <form role="search" method="get" class="search-form" action="">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>
    </div>

    <nav id="site-navigator-mobile" class="navigator-mobile" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

        <a href="#" class="navigator-toggle">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /.navigator-toggle -->

        <ul id="menu-main-menu-1" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-24"><a href="http://demo.linethemes.com/cosine/">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23">
                <a href="http://demo.linethemes.com/cosine/who-we-are/">Who we are</a><span class="toggler"></span>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="http://demo.linethemes.com/cosine/who-we-are/">Overview</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="http://demo.linethemes.com/cosine/who-we-are/company-history/">Company History</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="http://demo.linethemes.com/cosine/who-we-are/leadership-team/">Leadership Team</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="http://demo.linethemes.com/cosine/who-we-are/partners-clients/">Partners / Clients</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="http://demo.linethemes.com/cosine/who-we-are/testimonials/">Testimonials</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://demo.linethemes.com/cosine/who-we-are/frequently-asked-questions/">FAQ</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="http://demo.linethemes.com/cosine/who-we-are/awards-recognition/">Awards &amp; Recognition</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22">
                <a href="http://demo.linethemes.com/cosine/what-we-do/">What we do</a><span class="toggler"></span>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324"><a href="http://demo.linethemes.com/cosine/what-we-do/sales-effectiveness-solutions/">Sales Effectiveness Solutions</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="http://demo.linethemes.com/cosine/what-we-do/a-focus-on-customized-sales-training/">A Focus on Customized Sales Training</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="http://demo.linethemes.com/cosine/what-we-do/continuous-learning-approach/">Continuous Learning Approach</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21">
                <a href="http://demo.linethemes.com/cosine/training-programs/">Training Programs</a><span class="toggler"></span>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"><a href="http://demo.linethemes.com/cosine/training-programs/consultative-selling-training/">Consultative Selling Training</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a href="http://demo.linethemes.com/cosine/training-programs/high-performance-selling/">High Performance Selling</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a href="http://demo.linethemes.com/cosine/training-programs/sales-coaching-training/">Sales Coaching Training</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="http://demo.linethemes.com/cosine/training-programs/sales-negotiation-training/">Sales Negotiation Training</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a href="http://demo.linethemes.com/cosine/training-programs/selling-with-insights/">Selling With Insights</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="http://demo.linethemes.com/cosine/training-programs/trusted-advisor-training/">Trusted Advisor Training</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://demo.linethemes.com/cosine/contact/">Contact</a></li>
        </ul>
    </nav>
</div>
<div id="masthead-placeholder" style="height: 96px;"></div>