
@{
    ViewBag.Title = "Pending Training";
}

@model IEnumerable<ExwhyzeeEDI.Web.Models.Entities.Profile>
@using ExwhyzeeEDI.Web.Helper



<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> @ViewBag.Title (@Model.Count())</h3>

                @if (TempData["success"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-hover" border="1">

                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>
                                Reg. Number
                            </th>
                            <th>
                                Full Name
                            </th>


                            <th>
                                Date
                            </th>

                            <th>
                                Certified
                            </th>

                            <th>
                                School
                            </th>
                            <th>Payment</th>
                            <th>Status</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td style="word-wrap:break-word;">
                                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details",new { id = item.UserId })">
                                        @Html.DisplayFor(modelItem => item.Title) @Html.DisplayFor(modelItem => item.Surname) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.OtherName)
                                    </a>
                                </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.DateRegistered.Date)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.CollectedCertificate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.GetSchool.SchoolName)
                                </td>
                                <td>
                                    @if (HelperClass.checkPayment(item.Id, item.UserId) == true)
                                    {
                                        <text>Paid</text>
                                    }
                                    else
                                    {
                                        <text>Not Paid</text>

                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserStatus)
                                </td>

                                @*<td>
                        <div class="dropdown">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="max-width:none !important;">
                                <li>
                                    @Html.ActionLink("Program", "RegisteredProgram", new { uid = item.UserId }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Update User", "UpdateUserData", new { UserId = item.UserId }, new { @class = "" })
                                </li>
                            </ul>
                        </div>

                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


@section Style {

    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


}


@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}
