@model ExwhyzeeEDI.Web.Models.Entities.Payment

@{
    ViewBag.Title = "Payment Details";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Payments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Payments</a></li>
        <li class="active">Payments Details</li>

    </ol>
</section>


<section class="content">
    @Html.Partial("_ResponseMessagePartial")
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Transaction Details</h3>
            <span class="pull-right">
                <a href="#" class="btn btn-app"><i class="fa fa-backward"></i>Back</a>
            </span>
        </div>
        <div class="box-body">
            <div class="col-md-8">
                <strong><i class="fa fa-user margin-r-5"></i>  Full Name</strong>
                <p class="text-muted">
                    @ViewBag.fulname
                </p>
                <hr>

                <strong><i class="fa fa-user-secret margin-r-5"></i>  Approved By</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.ApprovedBy)
                </p>
                <hr>


                <strong><i class="fa fa-money margin-r-5"></i>  @Html.DisplayNameFor(model => model.Amount)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.Amount)
                </p>
                <hr>
                <strong><i class="fa fa-money margin-r-5"></i>  @Html.DisplayNameFor(model => model.AmountPaid)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.AmountPaid)
                </p>
                <hr>
                <strong><i class="fa fa-bars margin-r-5"></i>  @Html.DisplayNameFor(model => model.PaymentType)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.PaymentType)
                </p>
                <hr>



                <strong><i class="fa fa-calendar-plus-o margin-r-5"></i>  @Html.DisplayNameFor(model => model.PaymentInitalizedDate)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.PaymentInitalizedDate)
                </p>
                <hr>

                <strong><i class="fa fa-calendar-check-o margin-r-5"></i>  @Html.DisplayNameFor(model => model.PaymentCompleteDate)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.PaymentCompleteDate)
                </p>
                <hr>

                <strong><i class="fa fa-tags margin-r-5"></i>  @Html.DisplayNameFor(model => model.PaymentStatus)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.PaymentStatus)
                </p>
                <hr>

                <strong><i class="fa fa-sticky-note margin-r-5"></i>  @Html.DisplayNameFor(model => model.Note)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.Note)
                </p>
                <hr>
            </div>
            <div class="col-md-4">
                <div class="" style="margin-bottom:10px;">
                    @if (Model.PaymentStatus == ExwhyzeeEDI.Web.Models.Entities.Enum.PaymentStatus.Successful)
                    {
                        <button type="button" class="btn btn-block btn-lg btn-success">APPROVED</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-block btn-lg btn-danger">NOT APPROVED</button>
                        @Html.ActionLink("Pay Now", "PayNow", new { programId = Model.UserProgramId, paymentId = Model.Id }, new { @class = "btn btn-primary" })
                    }
                </div>



            </div>
        </div>
    </div>
</section>
