<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>

        EXWHYZEE ENTERPRENURSHIP HUB
    </title>
    <meta name="description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta name="title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta name="google-play-app" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="medium" content="mult">
    <meta name="apple-itunes-app" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="fb:app_id" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta property="og:url" content="http://www.edi.exwhyzee.ng/">
    <meta property="og:description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta property="og:image" content="https://www.udemy.com/staticx/udemy/images/v6/default-meta-image.png">
    <meta property="og:type" content="video_lecture">
    <meta property="og:site_name" content="E. D. I">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:domain" content="www.edi.exwhyzee.ng">
    <meta name="twitter:title" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta name="twitter:url" content="http://www.edi.exwhyzee.ng/">
    <meta name="twitter:description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta name="twitter:image" content="~/Content/images/ico.png">
    <meta name="twitter:site" content="CBN">
    <meta itemprop="name" content="Exwhyzee Tech Center for E.D.I | powered by CBN">
    <meta itemprop="url" content="http://www.edi.exwhyzee.ng/">
    <meta itemprop="description" content="CBN Funding. Access Up to N10m Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS). Exwhyzee Technologies Center. ABia State.">
    <meta itemprop="image" content="~/Content/images/ico.png">
   <link rel="preconnect" href="http://www.edi.exwhyzee.ng/" crossorigin="">
    <link rel="dns-prefetch" href="http://www.edi.exwhyzee.ng/" crossorigin="">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/images/ico.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/images/ico.png">
    <link rel="icon" type="image/png" href="~/Content/images/ico.png" sizes="196x196">
    <link rel="icon" type="image/png" href="~/Content/images/ico.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Content/images/ico.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/images/ico.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Content/images/ico.png" sizes="128x128">
    <meta name="application-name" content="EDI">
    <meta name="msapplication-TileColor" content="#">
    <meta name="msapplication-TileImage" content="~/Content/images/ico.png">
    <meta name="msapplication-square70x70logo" content="~/Content/images/ico.png">
    <meta name="msapplication-square150x150logo" content="~/Content/images/ico.png">
    <meta name="msapplication-wide310x150logo" content="~/Content/images/ico.png">
    <meta name="msapplication-square310x310logo" content="~/Content/images/ico.png">



    <base href="/">
    <link rel="canonical" href="http://www.edi.exwhyzee.ng/">
















    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="icon" href="~/Content/images/ico.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">

    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/font-awesome/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/Ionicons/css/ionicons.min.css">*@
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/plugins/iCheck/all.css">
    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Theme style -->
    @RenderSection("Style", required: false)
    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/dist/css/skins/_all-skins.min.css">

    <link href="http://exwhyzee.ng/libraries/admin/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .btn-mobile {
            padding: 2px 6px !important;
            font-size: 12px !important;
            font-weight: 200 !important;
            white-space: normal;
        }
    </style>
    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }

        .direct-chat-messages {
            height: auto !important;
        }

        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        tr > th, tr > th, tr > th, tr > td, tr > td, tr > td {
            border: 1px solid #c1c1c1 !important;
        }

        table td, th {
            white-space: normal !important;
        }


        @@media print {
            /*@@page { margin: 0; }
            body { margin: 1.6cm; }*/
            table {
                border: solid #000 !important;
                border-width: 1px 0 0 1px !important;
                page-break-inside: avoid;
                margin: 0;
            }

            th, td {
                border: solid #000 !important;
                border-width: 0 1px 1px 0 !important;
                margin: 0;
            }
        }



        /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
        .icon-bar {
            position: fixed;
            top: 30%;
            -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
            transform: translateY(50%);
        }

            /* Style the icon bar links */
            .icon-bar a {
                display: block;
                text-align: center;
                padding: 16px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                /* Style the social media icons with color, if you want */
                .icon-bar a:hover {
                    background-color: #000;
                }

        .buttons {
            background: #3B5998;
            color: white;
        }

        .wrapper {
            overflow: visible;
        }

        .skin-blue .sidebar-form input[type="text"] {
            color: white;
            font-weight: 800;
        }

        /*'''''*/

        /*'''''''*/

        .sticky-container {
            padding: 0px;
            margin: 0px;
            position: fixed;
            right: -110px;
            top: 280px;
            width: 220px;
            z-index: 1100;
        }

        .sticky li {
            list-style-type: none;
            background-color: #fff;
            color: #efefef;
            height: 43px;
            padding: 0px;
            padding-left: 5px;
            margin: 0px 0px 1px 0px;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
        }

            .sticky li:hover {
                margin-left: -115px;
            }

            .sticky li img {
                float: left;
                margin: 5px 4px;
                margin-right: 5px;
            }

            .sticky li p {
                padding-top: 5px;
                margin: 0px;
                line-height: 16px;
                font-size: 11px;
            }

                .sticky li p a {
                    text-decoration: none;
                    color: #2C3539;
                }

                    .sticky li p a:hover {
                        text-decoration: underline;
                    }
    </style>

    <style>
        @@media print {
            .noprint {
                display: none !important;
            }

            html {
                zoom: 75%;
                font-size: 55% !important;
            }
        }

        /*.content-wrapper {
            background-color: #f1cfae !important;
        }

        .skin-blue .main-header .navbar {
            background-color: #ef9f0e !important;
        }

        .skin-blue .main-header .logo {
            background-color: #d08804 !important;
        }

        .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
            background-color: #483c26 !important;
        }

        .btn-primary {
            background-color: #ef9f0e !important;
            border-color: #ef9f0e !important;
        }

        .box.box-primary {
            border-top-color: #ef9f0e !important;
        }*/
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>E</b>DI</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>EDI</b>.ng</span>

            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->


                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
              
                <div class="navbar-custom-menu" style="float:none !important;margin-left:30px !important;">
                    <ul class="nav navbar-nav">
                       
                    </ul>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @using (Html.BeginForm("LogOff", "Data", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="dropdown user user-menu">
                                <a href="javascript:document.getElementById('logoutForm').submit()" style="position: relative;color:#fff; text-decoration:none; display: block;padding: 10px 15px;">

                                    Sign Out
                                </a>

                            </li>
                        }

                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @Html.Action("LayoutProfile", "PartialView", new { Area = "Admin" })
                <!-- search form  <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="" value="Online" class="form-control" disabled="disabled">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-circle text-success"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->

                <ul class="sidebar-menu" data-widget="tree">


                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("BossAdmin"))
                    {
                        @Html.Partial("~/Areas/Admin/Views/Shared/_AdminMenu.cshtml")
                    }
                    @if (User.IsInRole("Participant"))
                    {
                        @Html.Partial("~/Areas/Admin/Views/Shared/_ParticipantMenu.cshtml")
                    }
                   
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    @Html.Action("LayoutDaashboardIcon", "PartialView", new { Area = "Admin" })
                </h1>
             
                <ol class="breadcrumb">
                    <li>


                    </li>

                </ol>
            </section>
            <br />
            
            <!-- Main content -->

            <section class="content">
                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    @Html.Action("_AdminDashbar", "PartialView", new { Area = "Admin" })

                }
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
       

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
              Enterprenurship Development Institute <b>Powered by:</b> <a href="#">CBN</a> in partnership with <a href="http://exwhyzee.ng/">Exwhyzee Technologies</a>
            </div>
            <strong>Copyright &copy; @DateTime.UtcNow.Year <a href="http://exwhyzee.ng/">Exwhyzee Technologies Ltd</a>.</strong> All rights
            reserved.
        </footer>


    </div>

    <!-- jQuery 3 -->
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="http://exwhyzee.ng/libraries/admin/plugins/jQueryUI/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->

    @RenderSection("Scripts", required: false)
    <!-- Slimscroll -->
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="http://exwhyzee.ng/libraries/admin/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="http://exwhyzee.ng/libraries/admin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="http://exwhyzee.ng/libraries/admin/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="http://exwhyzee.ng/libraries/admin/dist/js/demo.js"></script>
    <script>
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })
    </script>
    <script>
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true,
            dateFormat: 'MM-dd-yyyy'
        })

        //Date picker
        $('#datepicker1').datepicker({
            autoclose: true,
            dateFormat: 'MM-dd-yyyy'
        })
        //var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
    </script>
    @RenderSection("Scripts2", required: false)

    
</body>
</html>




