@model ExwhyzeeEDI.Web.Models.Entities.YoungMind

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}





<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title">
                    <i class="fa fa-fw fa-file-text-o"></i> User Details

                </h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div>
                    <div class="row">
                        <div class="col-xs-8">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.RegistrationNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Surname)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FirstName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.OtherName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OtherName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Gender)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Dateofbirth)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Dateofbirth)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DateRegistered)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DateRegistered)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MaritalStatus)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MaritalStatus)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Religion)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Religion)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PermanentHomeAddress)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PermanentHomeAddress)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ModeOfIdentification)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ModeOfIdentification)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IdentificationNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IdentificationNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactAddress)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ContactAddress)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.StateofOrigin)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StateofOrigin)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LocalGovernmentArea)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LocalGovernmentArea)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.AreYouInAbyVocationNow)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AreYouInAbyVocationNow)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Hobby)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Hobby)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserId)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.WhatAreaAreYouInterestedIn)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.WhatAreaAreYouInterestedIn)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.WhatTrackAreYouInterestedIn)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.WhatTrackAreYouInterestedIn)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CanYouDoMoreWithLessResources)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CanYouDoMoreWithLessResources)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TellUsHowYouWouldGoAboutThis)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TellUsHowYouWouldGoAboutThis)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.WhatIsYourCurrentExperienceLevelInInformationTechnology)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.WhatIsYourCurrentExperienceLevelInInformationTechnology)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.AreYouReadyToMakeChangesToYourEnvironment)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AreYouReadyToMakeChangesToYourEnvironment)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IfYes_HowCanYouMakeChanges)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IfYes_HowCanYouMakeChanges)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Referee)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Referee)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.KnowAFriendThatYouThinkWillMakeAGreatChangeInHisEnvironment)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.KnowAFriendThatYouThinkWillMakeAGreatChangeInHisEnvironment)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IdeaAndSuggestion)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IdeaAndSuggestion)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SocialMedia)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SocialMedia)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Password)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Password)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ConfirmPassword)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PassportUrl)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PassportUrl)
                                </dd>

                            </dl>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
